.App {
  font-family: sans-serif;
  text-align: center;
}
.leaflet-container {
  background-color: #aad3df;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.rootContainer{
  height: 100vh
}

.markerCustomIcon {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: black;
  margin: 3px;
}

.markerCustomIcon:hover{
  border: 1px solid white;
}
